---
Title: Cake.MkDocs
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.MkDocs Addin that extends <a href="http://cakebuild.net/">Cake</a> with ability to run the <a href="http://http://www.mkdocs.org">MkDocs</a>.
    </p>
    <p>
        More about Cake at <a href="http://cakebuild.net">http://cakebuild.net</a> and MkDocs at <a href="http://http://www.mkdocs.org">http://http://www.mkdocs.org</a>.
    </p>
	<h1>Supported versions</h1>
	<p>
		Note that addin supports these versions of tools:
		<p>
			<a href="http://http://www.mkdocs.org"><img src="/Cake.MkDocs/assets/images/mkdocs-badge.svg" /></a>
		</p>
		<p>
			<a href="http://cakebuild.net"><img src="/Cake.MkDocs/assets/images/cake-badge.svg" /></a>
		</p>
	</p>
	<h1>License</h1>
	<p>
		This project (and all contributions) fall under the <a href="https://github.com/michalkowal/Cake.MkDocs/blob/master/LICENSE">MIT</a> terms.
	</p>
</div>