---
Title: Cake.MkDocs
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake Addin that extends Cake with ability to run the MkDocs.  
    </p>
    <p>
        More about Cake at <a href="http://cakebuild.net">http://cakebuild.net</a> and MkDocs at <a href="http://http://www.mkdocs.org">http://http://www.mkdocs.org</a>.
    </p>
</div>